@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Arial');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/*----------------------------------------------------------------
    Branding Colour
----------------------------------------------------------------*/

#banner h1, 
#banner h2,
#banner h3, 
#banner p {
        color: #007c9e;
}
#banner p {
    
font-size: 25px;
}
#contact h3,
#contact h2,
#contact p,
.contact_detail, 
.contact_detail a, 
.contact_detail a:hover,
#gallery h2, 
#gallery h3,
#gallery h4 {
    color: #fff;
}

#content h2, 
#content h3,
#content h4 {
    color: #fe9800;
}

#header2a:before, 
#header2a,
#header2a a {
    color: #007c9e;
}

#header2b a,
body,
ul li {
    color: #222;
}

#services h3 {
    color:#ffd668;
    padding:5px;
    font-weight:600;
}

#services p {
    color:#fff;
}

h2,
h3,
body, 
.formbuilder-form .row label {
    font-weight:400;
}

strong {
    font-weight: 600;
}

#content h2,
#content h3,
#content h4,
#contact h2,
#contact h3,
#contact h4,
.btn, 
footer,
.formbuilder-form input#submit-form,
.formbuilder-form input#submit-form:hover,
#extraFormsContainer .modal-dialog .formbuilder-form input#submit-form, 
#extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:hover {
   text-transform: uppercase;
}

#header2b a, 
footer a:hover,
.contact_detail a,
.contact_detail a:hover,
btn, 
.btn:hover, 
.btn:focus, 
.formbuilder-form input#submit-form,
.formbuilder-form input#submit-form:hover, 
.formbuilder-form input#submit-form:focus, 
#extraFormsContainer .modal-dialog .formbuilder-form input#submit-form, 
#extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:hover,
#extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:focus {
    text-decoration: none;
}
    
/*----------------------------------------------------------------
    Form
----------------------------------------------------------------*/

.form, 
#extraFormsContainer .modal-dialog{
    border-radius:0px;;
    background-color: rgb(252, 252, 252);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.formbuilder-form .row label {
    color:#284e1f;
}

.formbuilder-form .row input, 
.formbuilder-form .row select, 
.formbuilder-form .row textarea {
    color:#000;
    background-color:#fff;
    border:1px solid #e8e8e8;
}
/*----------------------------------------------------------------
    Buttons
----------------------------------------------------------------*/

.btn {
    color: #ffffff;
    background-color: #ffc224;
    border: 1px solid #ffffff;
    border-radius:0px;
    width:40%;
    padding-left:10px;
    padding-right:10px;
}

.formbuilder-form input#submit-form, 
#extraFormsContainer .modal-dialog .formbuilder-form input#submit-form {
    color:#fff;
    background-color: #ffc21c;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}

@media (min-width: 711px) {
    .btn:hover, 
    .btn:focus, 
    .btn:active, 
    .btn.active, 
    .open>.dropdown-toggle.btn {
        border:none;
        color: #007c9e;
        border: 1px solid #007c9e;
        background-color: rgba(255, 194, 28, 0);
    }
} 

.formbuilder-form input#submit-form:hover, 
#extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:hover{
    background-color: rgba(0, 0, 0,0.4);
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}

/*----------------------------------------------------------------
    Custom Styles
----------------------------------------------------------------*/

h1, 
h2, 
h3, 
h4,
#header  {
    font-family: 'Arial', sans-serif;
}

.btn,
.formbuilder-form input#submit-form, 
#extraFormsContainer .modal-dialog .formbuilder-form input#submit-form, 
.formbuilder-form .row label,
footer a,
p {
    font-family: 'Open Sans', sans-serif;
}

/*----------------------------------------------------------------
    Header
----------------------------------------------------------------*/

#header {
    border-bottom: 10px solid #fe9800;
    padding: 12px 0 0px 0;
}

#header2b a {
    font-size: 22.5px;
    line-height:35px;
}

#header2 {
    font-weight:100;
    padding-top:9px;
}

/*----------------------------------------------------------------
    Banner
----------------------------------------------------------------*/
.bg {
    /* background-color: rgba(0, 124, 158, 0.5); */
    padding: 20px;
}
#banner1, #banner h1{
    margin:0;
    text-align:left;
}
#banner, #content {
    border-bottom:5px solid #fe9800;
}

#banner hr {
    width:50%;
}

#banner h1  {
    font-weight:700;
    font-size: 60px;
}

#banner1 {
    padding: 0 10px 15px;
}

.banner_cover {
    opacity: 0.7;
}

/*----------------------------------------------------------------
    Services
----------------------------------------------------------------*/

#services {
    padding: 20px 0 0px 0;
}

#service1,
#service2,
#service3,
#service4 {
    padding-top:50px;
    padding-bottom:50px;
}

/*----------------------------------------------------------------
    Content
----------------------------------------------------------------*/

    #content ul li:before {
        content:'\f00c';
    }
    
    #content img {
        border: 5px solid #fff;
        box-shadow: 0pc 2px 10px rgba(0,0,0,0.1);
    }
    #content img {
        margin: 0 0 -20px;
    }
/*----------------------------------------------------------------
    Gallery
----------------------------------------------------------------*/

#gallery img {
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

#gallery, 
#gallery .container {
    padding: 0;
    margin-bottom :0;
}

#gallery1, 
#gallery p > img, 
#gallery p > a, 
#gallery p.gallery1 > a, 
#gallery p.gallery1 > img {
    -webkit-box-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding:0;
}

 @media only screen and (min-width: 767px){
    #gallery p > img, 
    #gallery p > a, 
    #gallery p.gallery1 > a, 
    #gallery p.gallery1 > img {
        -webkit-box-flex: 0 0 33.333%;
        -webkit-flex: 0 0 33.333%;
        -ms-flex: 0 0 33.333%;
        flex:  0 0 33.333%;
        max-width: 33.333%;
        margin-bottom: 0px;
    }
}
@media only screen and (max-width: 767px) and (min-width: 0px)  {
    #gallery p img, 
    #gallery p.gallery3 img, 
    #gallery p.gallery4 img, 
    #gallery p.gallery5 img, 
    #gallery p.gallery6 img {
        -webkit-box-flex: 0 1 100%;
        -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
        max-width: 100%;
    }
    #gallery img {
        width: 95%;
    }
}
#gallery img ,
#gallery, 
#gallery .container, 
#gallery img {
        width:100%;
    }
#gallery .row, 
#gallery1, 
#gallery p > img, 
#gallery p > a, 
#gallery p.gallery1 > a, 
#gallery p.gallery1 > img {
        margin: 0;
    }
#gallery img:hover {
    opacity: 0.3;
}
/*----------------------------------------------------------------
  Contact 
----------------------------------------------------------------*/

#contact p {
    margin: 0 0 10px;
}

.contact_address {
    margin-bottom: 10px;
}
@media (min-width:768px){
    #contact {
        margin-top:-25px;
    }
}
/*----------------------------------------------------------------
    Hide Blocks
----------------------------------------------------------------*/

#contact2c, 
#contact2d, 
#contact2e,
#content2b,
#contact1b {
    display:none;
}

/*----------------------------------------------------------------
    Footer
----------------------------------------------------------------*/
footer *, 
footer a , 
footer {
    color: #336699;
}
footer {
    background-color: #ffffff;
    padding: 10px 0 10px;
}

/*----------------------------------------------------------------
    Media Queries
----------------------------------------------------------------*/
@media (max-width: 991px) {
    #service1, #service2, #service3, #service4 {
        padding-bottom:0px;
    }
}
@media only screen and (max-width: 767px) and (min-width: 0px)  {  
    #banner h1, #banner p,.btn{
        text-align:center;
    }
    #banner h1 {
        font-size:45px;
        padding: 10px 10px 3px;
    }
    #header2a {
        line-height:30px;
    }
    #header {
        padding-bottom: 5px;
    }
}
@media (max-width: 600px) {
    .btn{
        width:100%;
        word-wrap: break-word;
    }
}
@media (min-width: 0px) {
    .btn {
        margin-top: 10px;
    }
}
@media (max-width: 767px) {
    #service3 {
        clear:left;
    }
}

/*- Animation & Extras-*/
#banner1 {
    animation:move 2s ease;
}

@-webkit-keyframes move {
    from {transform: scale(0.8);opacity:0;}
    to {transform: scale(1.0);opacity:1;}
}

.btn:hover, 
.btn:focus, 
.btn:active, 
.btn.active, 
.open>.dropdown-toggle.btn,
#service1:hover,#service2:hover,#service3:hover,#service4:hover {
    transform: scale(1.1);
    transition: all 200ms ease-in;
}